@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&family=Kablammo&family=Lexend:wght@100..900&display=swap');

:root{
     --branco1: #F6F6F6;
     --azuldark: #123A60;
     --azulmain:#2678C6;
     --verde:#1F9962;
     --amarelo:#FFBC31;
     --cinzadark:#2C2C2C;

     --fonte-padrao: 'Lexend', Arial, sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: var(--branco1) ;
    font-family: var(--fonte-padrao);

   
}
header{
     background-color: var(--branco1) ;
     padding: 10px 20px;
     min-height: 70px;
     display: flex;
     align-items: center;
     box-shadow: 0px 0px 10px rgba(133, 133, 133, 0.199);
     position: relative;
}
#logo{
    margin: 0;
    font-size: 2.5em;
    font-weight: 700;
    color: var(--azulmain);
}
nav{
    display: flex;
    position: absolute;/* Tira o nav do fluxo e permite centralizar no meio da tela */
    left: 50%;
    transform: translateX(-50%); /* O segredo para centralizar perfeitamente */

}
nav > a{
    color: var(--cinzadark);
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
    transition-duration: .5s;
    font-size: 1.1em;
   
}
nav>a:hover{
    color: var(--azulmain);
    border-radius: 15px;
}
main{
     min-width: 320px;
     max-width: 100%;
     margin: auto;
     margin-bottom: 30px;
     min-height: 100dvh;
}
footer{
    background-color: var(--azuldark);
    color: #f1f1f1;
    text-align: center;
    font-size: 0.8em;
    min-height: 50px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    position: relative;
}
footer a{
    color: #f1f1f1;
    font-weight: bolder;
    text-decoration: none;
}
footer p{
    color: #f1f1f1;
    font-weight: bolder;
    text-decoration: none;
    display: flex;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}
#logofooter{
    color: #f1f1f1;
    margin: 0;
    font-size: 2.5em;
    font-weight: 700;
}
img{
    width: 100%;
    display: block;
    margin: auto;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    line-height: 1em;
    font-size: 1em;
}
.titulo-pagina{
    background-color: var(--azulmain);
    color: #ffffff;
    text-align: center;
    font-size: 2em;
    padding: 20px;
}
.container-card{
    display: flex;
    gap: 50px; /* Espaço entre os cards */
    justify-content: center; /* Alinha à esquerda como na imagem */
    flex-wrap: wrap; /* Se não couber na tela, ele pula para a linha de baixo */
    margin-top: 30px;
}
.card{
    width: 300px;
    cursor: pointer;
    text-decoration: none;
}
.image-card{
    background-color: #ffffff;
    aspect-ratio: 16/10;/* Mantém a proporção retangular */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    box-shadow: 0px 0px 5px rgba(133, 133, 133, 0.199);
}
.card:hover .image-card {
  transform: translateY(-5px);
}
.card-titulo{
    color: var(--azuldark);
    font-size: 1.1em;
    margin: 0;
    font-weight: 700;
    text-align: left;
}
.about{
    text-align: center;
    font-size: 1.5em;
}